services:
  swindler-app:
    build:
      context: .
      dockerfile: .config/Dockerfile.dev
    environment:
      - NODE_ENV=development
      - PORT=3000
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./:/app:cached
      - /app/node_modules
    depends_on:
      - db
      - redis
    restart: no

  db:
    image: postgres:15-alpine
    container_name: swindler-db
    env_file:
      - .env
    ports:
      - "15432:5432"
    volumes:
      - ./db/:/var/lib/postgresql/data
    restart: no

  redis:
    image: redis:7-alpine
    container_name: swindler-redis
    env_file:
      - .env
    ports:
      - "6379:6379"
    volumes:
      - ./redis:/data
    command: redis-server --requirepass ${REDIS_PASSWORD:-""}
    restart: no

networks:
  default:
    driver: bridge
