services:
  swindler-db:
    image: 'postgres:latest'
    container_name: swindler-db
    env_file:
      - .env
    ports:
      - 127.0.0.1:15432:5432
    volumes:
      - ./db/:/var/lib/postgresql/18/docker
    healthcheck:
      test:
        - CMD-SHELL
        - 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'
      interval: 5s
      timeout: 20s
      retries: 10
  swindler-redis:
    image: 'redis:latest'
    container_name: swindler-redis
    environment:
      - REDIS_APPLICATION_MODE=master
    ports:
      - 127.0.0.1:6379:6379
    volumes:
      - redis-data:/data
      - ./.config/redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf --requirepass SWINDLER
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  redis-data: