services:
  swindler-app:
    build:
      context: .
      dockerfile: .config/Dockerfile.dev
    environment:
      - NODE_ENV=development
      - PORT=3000
    env_file:
      - .env
    ports:
      - "3000:3000"
      - "51212:51212"
    volumes:
      - .:/app:rw
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    env_file:
      - .env
    volumes:
      - ./db/:/var/lib/postgresql/data:rw
    healthcheck:
      test:
        - CMD-SHELL
        - 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'
      interval: 5s
      timeout: 20s
      retries: 10

  redis:
    image: redis:7-alpine
    env_file:
      - .env
    volumes:
      - ./redis:/data:rw
    healthcheck:
      test: [ 'CMD', 'redis-cli', '--pass', '${REDIS_PASSWORD}', 'ping' ]
      interval: 5s
      timeout: 5s
      retries: 5
