services:
  swindler-app:
    build:
      context: .
      dockerfile: .config/Dockerfile.dev
    environment:
      - NODE_ENV=development
      - PORT=3000
    env_file:
      - .env
    ports:
      - "3000:3000"
      - "51212:51212"
    volumes:
      - .:/app:rw

  db:
    image: postgres:15-alpine
    volumes:
      - ./db/:/var/lib/postgresql/data:rw

  redis:
    image: redis:7-alpine
    env_file:
      - .env
    volumes:
      - ./redis:/data:rw
